@import "tailwindcss";

@variant dark (&:where(.dark, .dark *));

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
}

html,
body {
  overflow-x: clip;
  max-width: 100vw;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes spin-slow-pause {
  0% {
    transform: rotate(0deg);
  }

  20% {
    transform: rotate(360deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.animate-spin-slow-pause {
  animation: spin-slow-pause 8s cubic-bezier(0.4, 0, 0.2, 1) infinite;
}

@keyframes bounce-slow {

  0%,
  100% {
    transform: translateY(-25%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }

  50% {
    transform: translateY(0);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}

.animate-bounce-slow {
  animation: bounce-slow 3s infinite;
}